<div class="container">
    <!--Start Breadcrum-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="projects.html">Projects</a></li>
            <li class="breadcrumb-item active" aria-current="page">Project Name</li>
        </ol>
    </nav>
    <!--End Breadcrum-->

    <!--First Row-->
    <div class="row">
        <div class="col-xs-2 col-md-2"></div>

        <div class="col-xs-8 col-md-8">
            <!--Create a search box at the center of the page-->
            <div class="input-group mt-4">
                <input type="text" class="form-control" placeholder="Enter keyword or phrase">
                <div class="input-group-prepend">
                    <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <!--End Search box-->
        </div>

        <div class="col-xs-2 col-md-2"></div>
    </div>
    <!--End First Row-->

    <!--Start Project Header-->
    <div class="row my-5">
        <div class="col-xs-6 col-md-6">
            <h5>Project:<span> Remodeling</span></h5>
            <h5>Project Leader:<span> John Doe</span></h5>
        </div>

        <div class="col-xs-6 col-md-6">
            <h5>Date Started: <span>03/19/2019</span></h5>
            <h5>Goal Completion Date: <span>05/19/2019</span></h5>
        </div>


    </div>
    <!--End Project Header-->


    <!--START MAIN CONTENT-->
    <div class="row">
        <!--Project Left Column-->
        <div class="col-xs-3 col-md-3 ">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Project Name</a>
                <a href="#" class="list-group-item list-group-item-action">Project Name</a>
                <a href="#" class="list-group-item list-group-item-action">Project Name</a>
                <a href="#" class="list-group-item list-group-item-action">Project Name</a>
                <a href="#" class="list-group-item list-group-item-action">Project Name</a>
                <a href="#" class="list-group-item list-group-item-action">Project Name</a>
                <a href="#" class="list-group-item list-group-item-action">Project Name</a>
                <a href="#" class="list-group-item list-group-item-action">Project Name</a>
            </div>
        </div>
        <!--End Project Left Column-->

        <!--Start Project Right Table-->
        <div class="col-xs-9 col-md-9">

            <!--Start First Card-->
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-xs-3 col-md-3">
                        <img src="images/18wheels.jpg" class="card-img" alt="card image">
                    </div>

                    <div class="col-xs-9 col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Project Name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Mauris
                                congue
                                purus a
                                libero molestie mattis. Maecenas ultricies semper nunc. Morbi efficitur ex id
                                dignissim aliquam. In libero felis, tempus quis consectetur quis, hendrerit ac
                                ligula. Maecenas in bibendum leo, eu mollis ex. Nunc sed mauris eu sem euismod
                                vestibulum ac non velit. Cras facilisis ipsum sapien, quis rutrum erat rhoncus
                                id.
                                Suspendisse in faucibus eros. Morbi euismod nulla ante, nec placerat tortor
                                auctor
                                vel. Sed ut sem tempor, facilisis ligula eu, lobortis ipsum.</p>
                            <p class="card-text">
                                <small class="text-muted">Date posted: 02/25/2019</small>
                                <small class="text-muted ml-3"> Author: John Doe</small>
                                <small class="text-muted ml-3"> Category: Marketing</small>
                            </p>
                        </div>
                        <!--End Div Card-Body Class-->
                    </div>
                </div>
            </div>
            <!--End First Card-->

            <!--Start Second Card-->
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-xs-3 col-md-3">
                        <img src="images/career.jpg" class="card-img" alt="card image">
                    </div>

                    <div class="col-xs-9 col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Project Name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Mauris
                                congue
                                purus a
                                libero molestie mattis. Maecenas ultricies semper nunc. Morbi efficitur ex id
                                dignissim aliquam. In libero felis, tempus quis consectetur quis, hendrerit ac
                                ligula. Maecenas in bibendum leo, eu mollis ex. Nunc sed mauris eu sem euismod
                                vestibulum ac non velit. Cras facilisis ipsum sapien, quis rutrum erat rhoncus
                                id.
                                Suspendisse in faucibus eros. Morbi euismod nulla ante, nec placerat tortor
                                auctor
                                vel. Sed ut sem tempor, facilisis ligula eu, lobortis ipsum.</p>
                            <p class="card-text">
                                <small class="text-muted">Date posted: 02/25/2019</small>
                                <small class="text-muted ml-3"> Author: John Doe</small>
                                <small class="text-muted ml-3"> Category: Marketing</small>
                            </p>
                        </div>
                        <!--End Div Card-Body Class-->
                    </div>
                </div>
            </div>
            <!--End Second Card-->

            <!--Start Third Card-->
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-xs-3 col-md-3">
                        <img src="images/group.jpg" class="card-img" alt="card image">
                    </div>

                    <div class="col-xs-9 col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Project Name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Mauris
                                congue
                                purus a
                                libero molestie mattis. Maecenas ultricies semper nunc. Morbi efficitur ex id
                                dignissim aliquam. In libero felis, tempus quis consectetur quis, hendrerit ac
                                ligula. Maecenas in bibendum leo, eu mollis ex. Nunc sed mauris eu sem euismod
                                vestibulum ac non velit. Cras facilisis ipsum sapien, quis rutrum erat rhoncus
                                id.
                                Suspendisse in faucibus eros. Morbi euismod nulla ante, nec placerat tortor
                                auctor
                                vel. Sed ut sem tempor, facilisis ligula eu, lobortis ipsum.</p>
                            <p class="card-text">
                                <small class="text-muted">Date posted: 02/25/2019</small>
                                <small class="text-muted ml-3"> Author: John Doe</small>
                                <small class="text-muted ml-3"> Category: Marketing</small>
                            </p>
                        </div>
                        <!--End Div Card-Body Class-->
                    </div>
                </div>
            </div>
            <!--End Third Card-->


            <!--Start Fourth Card-->
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-xs-3 col-md-3">
                        <img src="images/customer.jpg" class="card-img" alt="card image">
                    </div>

                    <div class="col-xs-9 col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Project Name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Mauris
                                congue
                                purus a
                                libero molestie mattis. Maecenas ultricies semper nunc. Morbi efficitur ex id
                                dignissim aliquam. In libero felis, tempus quis consectetur quis, hendrerit ac
                                ligula. Maecenas in bibendum leo, eu mollis ex. Nunc sed mauris eu sem euismod
                                vestibulum ac non velit. Cras facilisis ipsum sapien, quis rutrum erat rhoncus
                                id.
                                Suspendisse in faucibus eros. Morbi euismod nulla ante, nec placerat tortor
                                auctor
                                vel. Sed ut sem tempor, facilisis ligula eu, lobortis ipsum.</p>
                            <p class="card-text">
                                <small class="text-muted">Date posted: 02/25/2019</small>
                                <small class="text-muted ml-3"> Author: John Doe</small>
                                <small class="text-muted ml-3"> Category: Marketing</small>
                            </p>
                        </div>
                        <!--End Div Card-Body Class-->
                    </div>
                </div>
            </div>
            <!--End Fourth Card-->

            <!--RIGHT SIDE PAGINATION-->
            <nav aria-label="Page navigation example" class="my-4">
                <ul class="pagination pagination-sm justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
            <!--END RIGHT PAGINATION-->

        </div>
        <!--End Project Right Column-->


    </div>
    <!--END MAIN CONTENT ROW-->
</div>
