<br>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
  </div>


  <div class="col-md-6">
    <div class="alert alert-primary text-center">
      <h4>Notification setting</h4>
    </div>
    <form method="POST" action="#">
      <p>*** Please select the checkbox to turn on/off the notification settings</p>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Email
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          Message
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
        <label class="form-check-label" for="defaultCheck3">
          New comment
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
        <label class="form-check-label" for="defaultCheck4">
          Alerts
        </label>
      </div>
      <br>

      <button type="submit" class="btn btn-primary">Save Changes</button>
      <button type="reset" class="btn btn-default">Cancel</button>

    </form>

    <div class="col-md-3"></div>

  </div>