<div class="col-xs-12 col-md-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile </li>
        </ol>
    </nav>
</div>
<div class="user">
 <!--START MAIN SECTION-->
 <div class="container">
  <div class="row">
      <!--Create left side column-->
      <div class="col-xs-4 col-md-4 text-center">
          <!--<img class="img-responsive mt-4" src="" alt="user icon" width="100" height="90">-->
          <div class="img-circle"[innerHTML]="User.User.image | mardown: 'html'"></div>
          <ul class="list-group">
              <li class="list-group-item active ">{{User.User.username}}:{{User.User.fname}} {{User.User.lname}}</li>
              <li class="list-group-item text-left"><i class="fa fa-phone-square"></i> Phone:
                {{User.User.userPhone}}</li>
              <li class="list-group-item text-left"><i class="fas fa-envelope"></i> Email:
                {{User.User.userEmail}} </li>
              <li class="list-group-item text-left"><i class="fas fa-building"></i> Department: {{User.User.department.departmentName}}</li>
              <li class="list-group-item"><button class="btn btn-block btn-info"><a class="text-white" [routerLink]="['/EditUserProfile']"><i class="fas fa-user-edit"></i>
                      Edit user profile</a></button>
              </li>
          </ul>
      </div>
      <!--End left column-->

      <!--Create right side column-->
      <div class="col-xs-7 offset-xs-1 col-md-7 offset-md-1 mt-5">

          <div class="card mt-10">
              <div class="card-header">
                  <h5>Bookmarked Content<span> <a [routerLink]="['/Results', '/' , result]" class="btn btn-info float-right"> See all</a></span></h5>

              </div>
              <div class="row">
                  <div class="col-4"  *ngFor="let a of result">
                      <div class="card">
                          <div class="card-body">
                              <a class="card-title"[routerLink]="['/article', a.id]">{{a.title}}</a>
                              <p class="card-text" [innerHTML]="a.content | mardown: 'html'"></p>
                              <a [routerLink]="['/article', a.id]">Read more...</a>
                          </div>
                      </div>
                    </div>

              </div>
          </div>
      </div>
      <!--End right column-->
  </div>
  <!--End top row-->

  <!--Start 2 row-->
  <div class="row">
      <!--Create 2 box in left column-->
      <div class="col-xs-4 col-md-4 mt-5">
          <ul class="list-group">
              <li class="list-group-item active text-center">Quick Links and Resources</li>
              <li class="list-group-item text-left"><a href="#">Training...</a></li>
              <li class="list-group-item text-left"><a href="#">Support...</a></li>
              <li class="list-group-item text-left">Info needed...</li>
              <li class="list-group-item">Info needed...</li>
          </ul>
      </div>
      <!--End 2 left box-->

      <!--Create 2 right side column-->
      <div class="col-xs-7 offset-xs-1 col-md-7 offset-md-1 mt-5">
          <div class="card mt-10">
              <div class="card-header">
                  <h5>Subscriptions <span> <button class="btn btn-info float-right"> See all</button></span></h5>
              </div>
              <!--Nested row to create 3 equal columns for document-->
              <div *ngFor="let Tag of Tags" class="row">
                  <div class="col-12">
                      <div class="card ">
                          <h6 class="card-title ml-2">{{Tag.tagID}}</h6>
                      </div>
                  </div>
              </div>
              <!--End nested row-->
          </div>
      </div>
      <!--End right column-->
  </div>
  <!--End 2 row-->
</div>