<div class="container">

    <!--Bread crumb section-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Resource</a></li>
            <li class="breadcrumb-item active" aria-current="page">Content</li>
        </ol>
    </nav>
    <!--End breadcrum-->

    <div class="row my-5">
        <!--start column left-->
        <div class="col-xs-3 col-md-3">
            <details>
                <summary>Category</summary>
                <ul>
                    <li><a href="#">Content</a></li>
                    <li><a href="#">Content</a></li>
                    <li><a href="#">Content</a></li>
                    <li><a href="#">Content</a></li>                          
                </ul>
            </details>

            <details>
                <summary>Category</summary>
                <ul>
                    <li><a href="#">Content</a></li>
                    <li><a href="#">Content</a></li>
                    <li><a href="#">Content</a></li>
                    <li><a href="#">Content</a></li>                         
                </ul>
            </details>

            <details>
                <summary>Category</summary>
                <ul>
                    <li><a href="#">Content</a></li>
                    <li><a href="#">Content</a></li>                           
                    <li><a href="#">Content</a></li>
                    <li><a href="#">Content</a></li>
                </ul>
            </details>

            <details>
                <summary>Category</summary>
                <ul>
                    <li><a href="#">Content</a></li>
                    <li><a href="#">Content</a></li>
                    <li><a href="#">Content</a></li>
                    <li><a href="#">Content</a></li>                            
                </ul>
            </details>
        </div>
        <!--end column left-->

        <!--start column right-->
        <div class="col-xs-8 col-md-8 offset-md-1">
            <h3 class="text-primary">Content Title</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor
                sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <!--end column right-->

    </div>
</div>
<!--END MAIN CONTENT-->


<!--End Container fluid class-->

<!--FOOTER-->

