<div class="container">
  <div class="row">
      <div class="col-12">
          <!--Start Breadcrumb-->
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Content</li>
              </ol>
          </nav>
      </div>
      <!--End Breadcrumb-->

      <!--Create a search box at the center of the page-->
      <div class="col-xs-2 col-md-2"></div>

      <div class="col-xs-8 col-md-8">
          <div class="input-group mt-5">
              <input type="text" class="form-control" placeholder="Enter keyword or phrase">
              <div class="input-group-prepend">
                  <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
              </div>
          </div>
          <!--End Search box-->
      </div>

      <div class="col-xs-2 col-md-2"></div>
  </div>
  <!--End Search Box-->

  <br>

  <!--Secondary Nav Tabs-->
  <div class="row">
      <div class="col-xs-12 col-md-12">
          <button class="tablink btn-active">Content</button>
          <button class="tablink">Events</button>
          <button class="tablink">Learning Management</button>
      </div>
  </div>
  <!--End Secondary Nav Tabs-->



  <!--List of Horizontal Cards with Images-->
  <div class="row">
      <div class="col-xs-12 col-md-12">
          <div class="card my-3">
              <div class="row no-gutters">
                  <div class="col-md-3">
                      <img src="images/customer.jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                      <div class="card-body">
                          <h5 class="card-title">Training document title</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                              do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur. </p>
                          <p class="card-text">
                              <small class="text-muted">Date posted: 02/25/2019</small>
                              <small class="text-muted ml-3"> Author: John Doe</small>
                              <small class="text-muted ml-3"> Category: Marketing</small>
                          </p>
                      </div>
                  </div>
              </div>
          </div>

          <div class="card mb-3">
              <div class="row no-gutters">
                  <div class="col-md-3">
                      <img src="images/career.jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                      <div class="card-body">
                          <h5 class="card-title">Training document title</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                              do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur. </p>
                          <p class="card-text">
                              <small class="text-muted">Date posted: 03/10/2019</small>
                              <small class="text-muted ml-3">Author: John Doe</small>
                              <small class="text-muted ml-3">Category: Marketing</small>

                          </p>
                      </div>
                  </div>
              </div>
          </div>

          <div class="card mb-3">
              <div class="row no-gutters">
                  <div class="col-md-3">
                      <img src="images/group.jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                      <div class="card-body">
                          <h5 class="card-title">Training document title</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                              do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur. </p>
                          <p class="card-text">
                              <small class="text-muted">Date posted: 04/22/2019</small>
                              <small class="text-muted ml-3">Author: John Doe</small>
                              <small class="text-muted ml-3">Category: Marketing</small>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card mb-3">
              <div class="row no-gutters">
                  <div class="col-md-3">
                      <img src="images/trucks.jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                      <div class="card-body">
                          <h5 class="card-title">Training document title</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                              do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur. </p>
                          <p class="card-text">
                              <small class="text-muted">Date posted: 04/23/2019</small>
                              <small class="text-muted ml-3">Author: John Doe</small>
                              <small class="text-muted ml-3">Category: Marketing</small>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
      