.container{
    /*border: solid;*/
    width:70%;
    height:100%;
}
.content{
    /*border: solid;*/
    width:80%;
}

.btn-group{
    vertical-align: initial;
}
.subscribe{
    float:right;
    margin-top:0px;
}
.full-width{
    width:100%;
}
.comment{
    width: 100%;
}