<div class='main-nav'>
<div class="top" >
  
        <nav class="navbar navbar-default visible-xs" role="navigation" id="">
            <div class="navbar-header">
                <!--sidenavButton right-->
                <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--sidenavButton right-->
                <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-ex2-collapse" style="padding: 8px 15px;"> <span class="sr-only">Toggle navigation</span>
                    <span aria-hidden="true" class="glyphicon glyphicon-sort"></span>
                </button>   
                <!--logo-->
                <div class="logo">

                        <img class="img-responsive m-3" src="/assets/logo.svg" alt="logo">
                  </div>    
                      
            </div>
           
            <div class="collapse navbar-collapse navbar-ex1-collapse">
             <!--SideNav content-->    
            </div>
            <div class="collapse navbar-collapse navbar-ex2-collapse">
                   <!--SideNav content--> 
               
            </div>
            <!--Search0-->
            <div class="col-xs-12">
                    <form class="navbar-form qu-from" role="search">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>    
        </nav>
  </div>
</div>